body {
    background-color: purple;
    font-family: 'Cabin', sans-serif;
}

h1 , p {
    color: white;

}

p {
    font-size: x-large;
}

h1 {
    font-size: xxx-large;
    font-kerning: none;
}

footer {
    text-align-last: right;
    position: absolute; 
    bottom: 0px; 
}